.chika-orange{
    color: #F0A20B
}
.kanan-green {
    color: #13E8AE;
}
.you-blue {
    color: #49b9f9;
}
.riko-pink{
    color: #E9A9E8;
}
.dia-red{
    color: #F23B4C;
}
.yoshiko-gray{
    color: #898989;
}
.maru-yellow{
    color: #E6D617;
}
.mari-purple{
    color: #AE58EB;
}
.ruby-pink{
    color: #FB75E4;
}
.you-bg-blue {
    background-color: #49b9f9;
}
.kanan-bg-green {
    background-color: #13E8AE;
}
.chika-bg-orange{
    background-color: #F0A20B;
}